<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>404 Page Not Found</h1>
    <img style="height: 500px; width: 500px;" src="https://c.tenor.com/oogtfsQRHkgAAAAM/lost-john-travolta.gif" alt="404 gif">
    <h1>CHECK YOUR URL PATH</h1>
    <h1>*cough* localhost:3000 *cough*</h1>
</body>
</html>