<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>

<body>
    <div class="container2">
        <h1>JB's Car Lot</h1>
        
        <header>
            <nav>
                <a href="/">Welcome</a>
                <a href="/signup">Sign Up</a>
            </nav>
        </header>
        <img class="welcomeImg"
            src="https://static.vecteezy.com/system/resources/thumbnails/000/655/315/small/Car_F_02-1.jpg"
            alt="Car Photo">
            <h2>Login</h2>
            <% if(error) { %>
                <p class="error" style="color: red;">*<%= error %>*</p>
                <% } %>
        <div class="containerLogin">
            <form action="/login" method="POST">
                <fieldset>
                    <legend>User Information</legend>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="EMAIL" /><br />
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="PASSWORD" /><br />
                    <input type="submit" value="LOGIN">
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>