<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>New</title>
</head>
<body>
    <form action="/home" method="POST">
        Image: <input type="text" name="img" value="https://content.homenetiol.com/640x480/3b1058893f8c4ee4b44dd6f4369b58ac.jpg" /><br />
        Make: <input type="text" name="make" /><br />
        Model: <input type="text" name="model" /><br />
        Year: <input type="text" name="year" /><br />
        Mileage: <input type="text" name="mileage" /><br />
        Description: <input type="text" name="description" /><br />
        Price: <input type="text" name="price" /><br />
        Watching: <input type="text" name="watching" /><br />
        <input type="submit" value="POST">
    </form>
</body>
</body>
</html>