<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <%- include('./partials/Date-Time.ejs') %>
    <title>New</title>
</head>

<body>
    <h1>Add Listing Here</h1>
    <p class="time"><span id='clock'></span></p>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a class="active" href="/home/new">Add Listing</a></li>
        <li style="float: right;"><a href="/logout">Log Out</a></li>
    </ul>
    <div class="newContainer">
        <form action="/home" method="POST">
            <fieldset>
                <legend>Add Vehicle</legend>
                <label for="img">Image</label>
                <input type="text" name="img" value="https://content.homenetiol.com/640x480/3b1058893f8c4ee4b44dd6f4369b58ac.jpg" /><br />
                <label for="make">Make</label>
                <input type="text" name="make" /><br />
                <label for="model">Model</label>
                <input type="text" name="model" /><br />
                <label for="year">Year</label>
                <input type="text" name="year" /><br />
                <label for="mileage">Mileage</label>
                <input type="text" name="mileage" /><br />
                <label for="description">Description</label>
                <input type="text" name="description" /><br />
                <label for="price">Price</label>
                <input type="text" name="price" /><br />
                <label for="watching">Watching</label>
                <input type="text" name="watching" /><br />
            </fieldset>
            <input type="submit" value="POST">
        </form>
    </div>
</body>
</body>

</html>