<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="container2">
        <h1>JB's Car Lot</h1>
        <header>
            <nav>
                <a href="/">Welcome</a>
                <a href="/login">Log in</a><br />
            </nav>
        </header>
        <img class="welcomeImg"
            src="https://static.vecteezy.com/system/resources/thumbnails/000/655/315/small/Car_F_02-1.jpg"
            alt="Car Photo">
            <h2>Sign Up</h2>
        <div class="containerLogin">
            <form action="/signup" method="POST">
                <fieldset>
                    <legend>User Information</legend>
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstName" placeholder="First name" /><br />
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" placeholder="Last Name" /><br />
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="EMAIL" /><br />
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="PASSWORD" /><br />
                    <input type="submit" value="SIGN UP">
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>