<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to JB's Car Lot</title>
</head>
<body>
    <h1>Welcome to JB's Car Lot</h1>
    <h3>Please <a href="/login">Login</a> or <a href="/signup">Sign Up</a> to Access JB's Car Lot</h3>
</body>
</html>