<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&family=Syncopate:wght@700&display=swap"
        rel="stylesheet">
    <title>Welcome to JB's Car Lot</title>
</head>

<body>
    <div class="container1">
        <h1>Welcome to JB's Car Lot</h1>
        <h4>Est. 2022</h4>
        <img class="welcomeImg"
            src="https://static.vecteezy.com/system/resources/thumbnails/000/655/315/small/Car_F_02-1.jpg"
            alt="Car Photo">
        <!-- <h3>Please <a href="/login">Login</a> or <a href="/signup">Sign Up</a> to Access JB's Car
            Lot
        </h3> -->
        <h3><a href="/home">Enter</a> JB's Car Lot</h3>
    </div>
</body>

</html>