body {
    background-color: black;
    font-family: 'Syncopate';
}

h1 {
    text-align: center;
    color: #ccc;
    font-size: 50px;
}
h3 {
    color: #ccc;
}

h3 a {
    color: #851111;
}

nav {
    width: 20%;
    margin: auto;
}

nav a {
    font-size: 20px;
    padding: 5px;
    color: #851111;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    color: #851111;
}

.active {
    background-color: #851111;
    color: black;
}

.homeP {
    font-size: 20px;
}

p {
    color: #ccc;
    font-weight: 700;
}

.container1 {
    font-family: 'Syncopate';
    color: #AAAAAA;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container1 h1 {
    font-size: 75px;
}

.container1 h3 {
    font-size: 30px;
}

.welcomeImg {
    width: 500px;
    height: 300px;
}

.container2 {
    font-family: 'Syncopate';
    color: #AAAAAA;
    text-align: center;
}

.container2 input {
    padding: 10px
}

.containerLogin {
    text-align: center;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    overflow: auto;
}

fieldset {
    border: 2px solid #851111;
    border-radius: 5px;
    width: 20%;
    margin: auto;
}

label {
    display: block;
}

.postingImg {
    border: 2px solid #851111;
    height: 300px;
    width: 500px;
}

.error {
    font-size: 20px;
}

.watching {
    font-size: 30px;
}

.showContainer {
    text-align: center;
}

.showImg {
    border: 2px solid #851111;
    width: 500px;
    height: 300px;
}

.watchForm {
    padding-bottom: 10px;
}

.watchInput {
    border-radius: 15px;
    font-size: 20px;
    background-color: #2b5fba;
    border: 1px solid #2b5fba;
}

.watchInput:hover {
    cursor: pointer;
}

.removeForm {
    padding-top: 20px;
}

.removeInput {
    border-radius: 15px;
    font-size: 20px;
    background-color: #851111;
    border: 1px solid #851111; 
}

.removeInput:hover {
    cursor: pointer;
}

.bidInput {
    border-radius: 15px;
    font-size: 20px;
    background-color: #26bd3c;
    border: 1px solid #26bd3c;
    padding-left: 15px;
    padding-right: 15px;
}

.bidInput:hover {
    cursor: pointer;
}

.showP {
    font-size: 25px;
}

.editContainer {
    text-align: center;
    color: #AAAAAA;
    padding-top: 10px;
}

.editImg {
    width: 500px;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.newContainer {
    text-align: center;
    color: #AAAAAA;
    padding-top: 10px;
}

.time {
    text-align: center;
}

.homeImgCont {
    text-align: center;
}

.homeImg {
    width: 300px;
    height: 200px;
}

table {
    background-color: #333;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
}

th {
    padding: 10px;
    background-color: #333;
    border: 2px solid black;
    color: #ccc
}

.tdImg {
    width: 250px;
    height: 150px;
}

td {
    text-align: center;
    color: black;
    font-size: 16px;
}

td a {
    color: black;
}

tr:nth-child(even) {
    background-color: #595757;
}

tr:nth-child(odd) {
    background-color: #787474;
}

.watchBtn {
    background-color: #558be0;
    border: 1px solid #558be0;
    border-radius: 15px;
    margin-top: 30px;
    margin-right: 140px;
    padding-left: 12px;
    padding-right: 12px;
}

.watchBtn:hover {
    cursor: pointer;
}

.bidBtn {
    background-color: #55c24e;
    border: 1px solid #55c24e;
    border-radius: 15px;
}

.bidBtn:hover {
    cursor: pointer;
}

h4 a {
    color: #851111;
}

.detailsBtn {
    border-radius: 15px;
    background-color: #e39014;
    border: 1px solid #e39014;
    padding-left: 12px;
    padding-right: 12px;
}

.detailsBtn:hover {
    cursor: pointer;
}

footer {
    background-color: #333;
    margin-top: 10px;
    padding: 2px;
}

footer p {
    text-align: center;
}


