body {
    background-color: black;
    font-family: 'Syncopate';
}

h1 {
    text-align: center;
    color: #ccc;
    font-size: 50px;
}
h3 {
    color: #ccc;
}

h3 a {
    color: #851111;
}

nav {
    width: 20%;
    margin: auto;
}

nav a {
    font-size: 20px;
    padding: 5px;
    color: #851111;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    color: #851111;
}

.active {
    background-color: #851111;
    color: black;
}

.homeP {
    font-size: 20px;
}

p {
    color: #ccc;
    font-weight: 700;
}

.container1 {
    font-family: 'Syncopate';
    color: #AAAAAA;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container1 h1 {
    font-size: 75px;
}

.container1 h3 {
    font-size: 30px;
}

.welcomeImg {
    width: 500px;
    height: 300px;
}

.container2 {
    font-family: 'Syncopate';
    color: #AAAAAA;
    text-align: center;
}

.container2 input {
    padding: 10px
}

.containerLogin {
    text-align: center;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    overflow: auto;
}

fieldset {
    border: 2px solid #851111;
    border-radius: 5px;
    width: 20%;
    margin: auto;
}

label {
    display: block;
}

.homeContainer {
    text-align: center;
}

.postingImg {
    height: 300px;
    width: 500px;
}

.error {
    font-size: 20px;
}

.watching {
    font-size: 30px;
}

.showContainer {
    text-align: center;
}

.showImg {
    width: 500px;
    height: 300px;
}

.watchForm {
    padding-bottom: 10px;
}

.watchInput {
    font-size: 20px;
    background-color: #2b5fba;
}

.removeForm {
    padding-top: 20px;
}

.removeInput {
    font-size: 20px;
    background-color: #851111; 
}

.bidInput {
    font-size: 20px;
    background-color: #26bd3c;
}

.showP {
    font-size: 25px;
}

.editContainer {
    text-align: center;
    color: #AAAAAA;
    padding-top: 10px;
}

.editImg {
    width: 500px;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 20px;
}