body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}

img {
    height: 400px;
    width: 700px;
    border: 2px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.homeP {
    font-size: 20px;
}

p {
    font-weight: 700;
}

.container1 {
    font-family: 'Syncopate';
    color: #AAAAAA;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container1 h1 {
    font-size: 75px;
}

.container1 h3 {
    font-size: 30px;
}

.welcomeImg {
    width: 500px;
    height: 300px;
}